langchain
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
google-generativeai
chromadb
pysqlite3-binary
huggingface-hub
pydantic
streamlit
psycopg2-binary
torch
numpy
python-dotenv
sentence-transformers
transformers
