langchain
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
google-generativeai
chromadb
huggingface-hub
pydantic
streamlit
psycopg2-binary
openai-whisper
torch
sounddevice
scipy
numpy
python-dotenv
sentence-transformers
transformers
